@import "../../scss/variables";

.Notification {
  position: relative;
  overflow: hidden;
  min-width: 16em;
  max-width: 100%;
  margin-top: 0.6em;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.5);

  @include sm {
    min-width: 20em;
  }

  @include md {
    min-width: 24em;
    max-width: 80%;
  }

  @include lg {
    max-width: 60%;
  }

  .Content {
    padding: 0.6em;
  }

  .ProgressBar {
    height: 0.3em;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0.3em;
    cursor: pointer;
    font-weight: normal;
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    transition: opacity 600ms ease;
    opacity: 0;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }

  &.Default {
    background-color: $brand-primary;

    .ProgressBar {
      background-color: darken($brand-primary, 10%);
    }
  }

  &.Success {
    background-color: $brand-success;
    .Content {
      color: $gray-lighter;
    }
    .ProgressBar {
      background-color: lighten($brand-success, 10%);
    }

    button {
      color: lighten($brand-success, 10%);
      &:hover {
        color: lighten($brand-success, 20%);
      }
    }
  }

  &.Error {
    background-color: $brand-danger;
    .Content {
      color: $gray-lighter;
    }
    .ProgressBar {
      background-color: lighten($brand-danger, 10%);
    }

    button {
      color: lighten($brand-danger, 10%);
      &:hover {
        color: lighten($brand-danger, 20%);
      }
    }
  }

  &.Info {
    background-color: $brand-info;
    .Content {
      color: $gray-base;
    }
    .ProgressBar {
      background-color: lighten($brand-info, 10%);
    }

    button {
      color: lighten($brand-info, 10%);
      &:hover {
        color: lighten($brand-info, 20%);
      }
    }
  }

  &.Warning {
    background-color: $brand-warning;
    .Content {
      color: $gray-base;
    }
    .ProgressBar {
      background-color: lighten($brand-warning, 10%);
    }

    button {
      color: lighten($brand-warning, 10%);
      &:hover {
        color: lighten($brand-warning, 20%);
      }
    }
  }

}
