$brand-primary: #ff6d00;
$brand-secondary: #702632;
$brand-success: #28a745;
$brand-info: #8af3ff;
$brand-warning: #f0ad4e;
$brand-danger: #f44336;

$gray-base: #222;
$gray-darker: #444;
$gray-dark: #777;
$gray: #aaa;
$gray-light: #cdcdcd;
$gray-lighter: #fff;